:root {
	--psk-yellow: #fffeaa;
	--psk-blue: #e3f2fd;
	--psk-green: #4fbfad;
	--psk-lightgreen: #98dacf;
	--psk-darkgreen: #2d7c6f;
	--psk-darkpurple: hsla(217, 16%, 20%, 1);
	--psk-dark: hsla(217, 16%, 12%, 1);
	--psk-navbar: 76px;
	--psk-bg-top: url('../img/bg/berlin-1266337_1920.jpg');
	--psk-bg-videos: url('../img/bg/tower-820001_1920.jpg');
}


.bg-psk-yellow {
	background-color: var(--psk-yellow);
}

.bg-psk-blue {
	background-color: var(--psk-blue);
}

.bg-psk-green {
	background-color: var(--psk-green);
}

.op-8 {
	opacity: .8;
}

body {
	font-family: 'Bai Jamjuree', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	font-weight: 700;
	height: 100vh;
	min-height: 100vh;
}

header {
	max-height: var(--psk-header);
	min-height: var(--psk-header);
	background-color: var(--psk-darkpurple);
	position: fixed;
	z-index: 1;
}

main {
	color: var(--light);
	text-shadow: 1px 2px 2px black;
}

h1 {
	
}

h2 {
	font-weight: 400;
}

h3 {
	font-weight: 500;
}

h4 {

}

h5 {

}

h6 {

}

.navbar-brand {
	height: 60px;
	margin-right: 32px;
}

.navbar-toggler {
	width: 2.25em;
    height: 2.25em;
    background-color: var(--gray-dark, dark);
    transition: all .2s;
}
/*
.navbar-toggler:hover, .navbar-toggler:focus {
	background-color: var(--dark);
}
*/
.nav-item {
	display: block;
	width: 100%;
	text-align: center;
	border-bottom: 1.2px dotted var(--light);
}

.nav-item:nth-last-child(1) {
	border-bottom: 0;
}

#navbar-content .nav-link:hover {
	background-color: var(--light);
	color: var(--dark);
	transition: all .3s;
}


.navbar-nav .nav-item .nav-link.active {
	background-color: var(--psk-dark);
	color: var(--psk-yellow);
}

.navbar-nav .nav-item .nav-link.active:before {
	content: '▸ ' ;
}

.navbar-nav .nav-item .nav-link.active:after {
	content: ' ◂';
}

/*
When bootstrap's navbar-nav
*/
.psk-nav {
	position: fixed;
	top: var(--psk-navbar);
	left: 100%;
	width: 100%;
	background-color: var(--dark);
	transition: all .3s;
}

.psk-nav.psk-nav-show {
	left: 0%;
	transition: all .3s;
}

/*custom setting for my slide-in effect*/
.collapse:not(.show) {
	display: flex;
}

@media (min-width: 992px) {
	.psk-nav {
		position: static;
		background: none;
		border-bottom: 0;
	}
	.nav-item {
		border-bottom: 0;
	}
}

.jumbotron-fluid {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
}

.jumbotron-fluid.welcome {
	max-height: 100vh;
	min-height: 100vh;
	background-image: var(--psk-bg-top);
	display: flex;
	flex-direction: column;
	justify-content: center;
}

/*=================================================================
	Solve the anchor link glitch:
		offsetting an html anchor to adjust for fixed header
=================================================================*/
a.anchor {
	display: block;
	position: relative;
	top: calc(-1*var(--psk-navbar));
	visibility: hidden;
}

@media (min-width: 768px) {
	.jumbotron-fluid.welcome {
		background-image: var(--psk-bg-top);
	}

}

#videos + .jumbotron-fluid {
	min-height: calc(100vh - var(--psk-navbar));
	background-image: var(--psk-bg-videos);
	display: flex;
	justify-content: center;
}

#videos + .jumbotron-fluid > div > div {
	padding: 2em;
	min-height: calc(100vh - var(--psk-navbar));
}


#videos + .jumbotron-fluid p {
	font-weight: 300;
}

iframe {
	width: 100%;
	padding: 0 2em;
}

@media (min-width: 768px) {
	#videos + .jumbotron-fluid {
		
	}

	#videos + .jumbotron-fluid > div > div {
		padding: 4em;
	}


	#videos + .jumbotron-fluid h3 {
		font-size: 3.5em;
	}

	#videos + .jumbotron-fluid p {
		font-size: 2em;
	}

	iframe {
		padding: 0;
	}
}

#copyright {
	margin: 0 1em .5em 0;
}
