:root {
	--psk-yellow: #fffeaa;
	--psk-blue: #e3f2fd;
	--psk-green: #4fbfad;
	--psk-lightgreen: #98dacf;
	--psk-darkgreen: #2d7c6f;
	--psk-navbar: 76px;
}

.bg-psk-yellow {
	background-color: var(--psk-yellow);
}

.bg-psk-blue {
	background-color: var(--psk-blue);
}

.bg-psk-green {
	background-color: var(--psk-green);
}

.op-8 {
	opacity: .8;
}

body {
	font-family: 'Bai Jamjuree', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	font-weight: 500;
	height: 100vh;
	min-height: 100vh;
}

header {
	max-height: var(--psk-header);
	min-height: var(--psk-header);
	background-color: var(--psk-green);
	position: fixed;
}

.navbar-brand {
	height: 60px;
}

.navbar-toggler {
	width: 2.25em;
    height: 2.25em;
    background-color: var(--light, white);
    transition: all .2s;
}
/*
.navbar-toggler:hover, .navbar-toggler:focus {
	background-color: var(--dark);
}
*/
.nav-item {
	display: block;
	width: 100%;
	text-align: center;
	border-bottom: 1.2px dotted var(--dark);
	transition: all .2s;
}

.nav-item:hover {
	background-color: var(--dark);
}

.navbar-light .navbar-nav .nav-link {
	
}

.psk-nav {
	position: fixed;
	top: var(--psk-navbar);
	left: 100%;
	width: 100%;
	background-color: var(--light);
	transition: all .3s;
}

.psk-nav.psk-nav-show {
	left: 0%;
	transition: all .3s;
}

.collapse:not(.show) {
	display: flex;
}

@media (min-width: 992px) {
	.psk-nav {
		position: static;
		background: none;
		border-bottom: 0;
	}
	.nav-item {
		border-bottom: 0;
	}
}

.menu-psk {
	position: fixed;
	left: -100%;
	top: 76px;
	width: 75%;
	margin: 0;
	border: 3px solid black;
	border-bottom: 0px;
	list-style-type: none;
	text-align: center;
	margin: 0;
	padding: 0;
	background-color: #909090;
	transition: all .3s cubic-bezier(0.17, 1.19, 0.78, 1.1);
}

.menu-psk.open {
	left: 0%;
}

.menu-psk > li {
	height: 50px;
	font-size: 2em;
	border-bottom: 3px solid black;
	transition: all .2s;
}

.menu-psk > ul > li:nth-child(1), .menu-psk > ul > li:hover {
	color: #fffeaa;
	background-color: #000;	
}

.menu-psk > ul > li:hover {
	border-color: var(--psk-yellow);
	cursor: pointer;
	font-weight: 900;
}



.jumbotron-fluid.welcome {
	max-height: 100vh;
	min-height: 100vh;
	background-image: url('../img/jumbotron_01_s.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	text-shadow: 1px 2px 2px white;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#copyright {
	margin: 0 1em .5em 0;
}

@media (min-width: 768px) {
	.jumbotron-fluid.welcome {
		background-image: url('../img/jumbotron_01.jpg');
	}

}