:root {
	--psk-yellow: #fffeaa;
	--psk-blue: #e3f2fd;
	--psk-green: #4fbfad;
	--psk-lightgreen: #98dacf;
	--psk-darkgreen: #2d7c6f;
	--psk-darkpurple: hsla(217, 16%, 20%, 1);
	--psk-dark: hsla(217, 16%, 12%, 1);
	--psk-navbar: 76px;
	--psk-bg-top: url('../img/bg/berlin-1266337_1920.jpg');
	--psk-bg-projects: url('../img/bg/columns-801715_1920.jpg');
	--psk-bg-theater: url('../img/bg/space-2466331.jpg');
	--psk-bg-blog: url('../img/bg/saturn-1078095_1920.jpg');
	--psk-bg-gallery: url('../img/bg/tunnel-2033983_1920.jpg');
	--psk-bg-about: url('../img/bg/cave-1937495_1920.jpg');
	--psk-bg-half-head: url('../img/bg/left_head_to_the_right.png');
}

body {
	font-family: 'Bai Jamjuree', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	font-weight: 700;
	height: 100vh;
	min-height: 100vh;
}

header {
	max-height: var(--psk-header);
	min-height: var(--psk-header);
	background-color: var(--psk-darkpurple);
	position: fixed;
	z-index: 16;
}

main {
	
}

footer {
	position: relative;
	background-color: var(--psk-darkpurple);
	color: var(--light);
}

h1 {
	
}

h2, h3 {
	font-size: 1.6rem;
	font-weight: 400;
}

h4, h5, h6 {
	font-size: 1.4rem;
	font-weight: 400;
}

p {
	font-size: 1.25rem;
	font-weight: 300;
}

@media (min-width: 992px) {
	h2, h3 {
		font-size: 2em;
	}

	p {
		font-size: 1.6rem;
		font-weight: 300;
	}
}

/*=================================================================
	Solve the anchor link glitch:
		offsetting an html anchor to adjust for fixed header
=================================================================*/
a.anchor {
	display: block;
	position: relative;
	top: calc(-1*var(--psk-navbar));
	visibility: hidden;
}

.jumbotron-fluid {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
}

.jumbotron-fluid:nth-of-type(odd) {
	color: var(--light);
	text-shadow: 1px 2px 2px var(--dark);
}

.jumbotron-fluid:nth-of-type(even) {
	color: black;
	text-shadow: 0px 0px 5px white;
}

.jumbotron-fluid:nth-of-type(n+2) {
	min-height: calc(100vh - var(--psk-navbar));
}

.jumbotron-fluid.psk-flex {
	display: flex;
	flex-direction: column;
	padding-bottom: 1.5em;
}

@media (min-width: 992px) {
	
}

.subtitle {
	width: 100%;
	min-height: 4.5rem;
	max-height: 4.5rem;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}

.subtitle h3 {
	padding-top: .5rem;
}

.row {
	margin: 0;
	padding: 0 15px;
	width: 100%;
}

.row > div {
	padding-bottom: 1.5em;
}


/*=============================header=============================*/
.navbar-brand {
	height: 60px;
	margin-right: 32px;
}

.navbar-toggler {
	width: 2.25em;
    height: 2.25em;
    background-color: var(--gray-dark, dark);
    transition: all .2s;
}

.nav-item {
	display: block;
	width: 100%;
	text-align: center;
	border-bottom: 1.2px dotted var(--light);
}

.nav-item:nth-last-child(1) {
	border-bottom: 0;
}

#navbar-content .nav-link:hover {
	background-color: var(--light);
	color: var(--dark);
	transition: all .3s;
}


.navbar-nav .nav-item .nav-link.active {
	background-color: var(--psk-dark);
	color: var(--psk-yellow);
}

.navbar-nav .nav-item .nav-link.active:before {
	content: '▸ ' ;
}

.navbar-nav .nav-item .nav-link.active:after {
	content: ' ◂';
}

/*custom navbar-nav*/
.psk-nav {
	position: fixed;
	top: var(--psk-navbar);
	left: 100%;
	width: 100%;
	background-color: var(--dark);
	transition: all .3s;
}

.psk-nav.psk-nav-show {
	left: 0%;
	transition: all .3s;
}

/*custom setting for my slide-in effect:
	Bootstrap's element collapse, display attr will be 'none',
	It will make my slide-in effect disabled. Keep it flex will fix that glitch.
*/
.collapse:not(.show) {
	display: flex;
}

@media (min-width: 992px) {
	.psk-nav {
		position: static;
		background: none;
		border-bottom: 0;
	}
	.nav-item {
		border-bottom: 0;
	}
}

/*==============================#top==============================*/
.jumbotron-fluid.welcome {
	max-height: 100vh;
	min-height: 100vh;
	background-image: var(--psk-bg-top);
	display: flex;
	flex-direction: column;
	justify-content: center;
}

@media (min-width: 768px) {
	.jumbotron-fluid.welcome {
		background-image: var(--psk-bg-top);
	}

}

#projects + .jumbotron-fluid {
	background-image: var(--psk-bg-projects);
}
/*=============================#theater=============================*/
#theater + .jumbotron-fluid {
	background-image: var(--psk-bg-theater);
	display: flex;
	justify-content: center;
}



#youtube-preview {
	width: 100%;

}

iframe {
	width: 100%;
	margin-bottom: 1em;
}

@media (min-width: 768px) {
	#theater + .jumbotron-fluid {
		
	}

	#theater + .jumbotron-fluid > div > div {
		padding: 4em 2em 2em 2em;

	}
	
	#youtube-preview > div {
		width: 50%;
		margin-bottom: 2em;
		padding: 1em 2em;
	}

	iframe {
	}
}

@media (min-width: 992px) {
	#theater + .jumbotron-fluid {

	}

	iframe {
		/*height: calc((100% - var(--psk-navbar)) / 2);*/
		
	}

}

/*=============================#gallery=============================*/
#gallery + .jumbotron-fluid {
	background-image: var(--psk-bg-gallery);
}

#gallery + .jumbotron-fluid .carousel {
	width: 100%;
}

/*.img-16-9 {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	max-height: 192px;
}*/

#gallery + .jumbotron-fluid img {
	display: block;
	object-fit: contain;
	width: 100%;
	height: 163px;
}

/*=============================#blog=============================*/
#blog + .jumbotron-fluid {
	background-image: var(--psk-bg-blog);
}

.psk-baha {
	background-image: url('../img/icon/baha_pilisenk.jpg');
	background-repeat: no-repeat;
	background-size: contain;
	width: 100%;
	padding-top: 17.1875%;
}

/*=============================#about=============================*/
#about + .jumbotron-fluid {
	background-image: var(--psk-bg-about);
	position: relative;
}

.psk-face {
	background-image: url('../img/bg/left_eye_to_the_right.png');
	background-position: top right;
	background-repeat: no-repeat;
	background-size: contain;
	width: 55%;
	height: calc(100vh - 3.32* var(--psk-navbar));
	position: absolute;
	top: calc(1.66 * var(--psk-navbar));
	right: 0;
}

.github-icon {
	background-image: url('../img/icon/github-154769_520.png');
	background-size: 115px 115px;
	width: 115px;
	height: 115px;
}

.email-icon {
	background-image: url('../img/icon/icons-842848_520.png');
	background-size: 115px 115px;
	width: 115px;
	height: 115px;
}


/*==============================footer==============================*/


#copyright {
	position: absolute;
	top: -3rem;
	right: 0;
	padding: .5rem 1rem .5rem 0;
}